.slider-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap : 20px ;
    margin : 20px
}


.slider {
    padding: 20px;
}

.showNumber{
    grid-column-start: span 3;
    text-align: center;
}

input {
    text-align: center;
}